<div id="<%= dom_id article %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Service:</strong>
    <%= link_to article.service.name, article.service %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Customer:</strong>
    <%= link_to article.customer.name, article.customer %>
  </p>


  <p class="my-5">
    <strong class="block font-medium mb-1">Provider:</strong>
    <%= article.provider ? link_to(article.provider.name, customer_path(article.provider_id)) : "No Provider" %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Meeting point:</strong>
    <%= article.meeting_point %>
  </p>
      <strong>From-To:</strong>
    <%= article.start_at %> - <%= article.start_at + article.service.duration_in_min.minutes %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= article.service.price %>€
  </p>


  <p class="my-5">
    <strong class="block font-medium mb-1">Start at:</strong>
    <%= article.start_at %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this article", article, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this article', edit_article_path(article), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
